ANTHROPIC_API_KEY=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
OPENAI_API_KEY=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
GOOGLE_API_KEY=AIzaSyA0sA5PG_13SSItRBqU7bjYXnRcJTvjwVs
WAFER_API_KEY=wfr_e6d1f3c276d7a615e0abeff21e8cacb56b72da861f0f6405f5f5da83966e785f
GROK_API_KEY=xai-8uNl1tPi1p9huIEDjuqv1dXv55Cjeonf1CLXrkDgrJo5OZ4MaOJezKPP1GmEY5UUTlxo1mE66gSCNqRR
